body {
    background-color: rgba(0, 0, 0);
    font-family: Calibri, sans-serif;
}

.main{
    margin-left:20%;
    margin-right: 20%;
    display:flex;
}


.one .job_desc>ul {
    list-style-type:none;
    padding-inline-start: 5px;
    /* margin-top: 10px; */
    margin-left:12px;
}

.two .job_desc>ul {
    list-style-type:disc;
    padding-inline-start: 5px;
    margin: 10px 0;
    margin-left: 12px;
}


.two .job_desc>ul>p {
    margin-right: 20px;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.left{
    padding-left: 2%;
    background-color: rgba(113, 172, 72);
    width: 40%;
    color: white;
}

.right{
    padding-left: 2%;
    width:65%;
    background-color: rgba(255, 255, 255);
    color: black;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

img {
    width: 80%;
}

.info_header{
    border-bottom: 4px solid white;
    /* line-height: 6px;
    margin-bottom: 2px; */
}

h2 {
    margin-bottom: 8px;
    margin-top: 0px;
}

.info_grid {
    display:flex;
}




.info_text {
    margin: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

.info_title {
    font-size: 16px;
    line-height: 2px;
    margin-bottom: 20px;
}

.info_icons {
    width: 12%;
}


.info_data {
    font-size: 11px;
    line-height: 2px;
    margin-bottom: 20px;
}

.fa-solid, .fa-brands{
    font-size: 250%;
    margin: 10px 0px;
}


.profile_header{
    border-bottom: 4px solid white;
}

.bean_list{
    margin:10px 0px;
    /* white-space: nowrap; */
}

.bean{
    border: 2px solid white;
    border-radius:5px;
    background-color: rgb(130,202,63);
    color: rgb(38,111,101);
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 3px;
    padding: 3px 8px;
}

.bean_list>:nth-child(3)::first-letter{
    font-size: 12px;
}

.bean_list>:last-child::first-letter{
    font-weight: 900;
    /* font-size: 40px; */
} 

.who> *{
    text-align: center;
}

/* .who>h2{
    text-align: center;
} */

.right>i{
    width: 50px;
}

.languages_header{
    border-bottom: 4px solid white;
}

.lang{
    background-color: white;
    margin:4px 4px;
    border: 1px black solid;
    /* border-radius: 25px; */
}


.inner{
    background-color: rgba(113, 172, 72);
    margin: 0px 0px;
    /* padding: 1px;  */
    height: 13px;
    /* width: 95%; */
} 

.du{
    width: 100%;
}

.fr{
    width: 80%;
}

.en{
    width: 80%;
}

.sp{
    width: 25%;
}

.py{
    width: 25%;
}

.jsr{
    width: 50%;
}

.la{
    width: 50%;
}

.experience_header{
    display: flex;
    align-items: center;
}

.experience_header>i{
    width: 15%;
}

.experience_header>h2{
    border-bottom: 4px solid black;
    /* margin-left: 5px; */
    margin-top: 5px;
    width: 100%;
    line-height: 35px;
    
}

.references_header{
    display: flex;
    align-items: center;
}

.references_header>i{
    width: 15%;
}

.references_header>h2{
    border-bottom: 4px solid black;
    /* margin-left: 10px; */
    margin-top: 5px;
    width: 100%;
    line-height: 35px;
}

.references_block{
    display: flex;
    justify-content: space-between;
}

.reference>h4,p{
    margin: 0px;
}

.reference.one{
    margin: 0;
}

.reference.two{
    margin-right: 10%;
}

.references_contact{
    display:flex;
    justify-content: center;
    /* background-color: green; */
    margin: 5px auto;
}



.company>h3{
    /* font-size: 16px; */
    margin: 0px 0px;
    background-color: green;
}


.pos_header{
    display:flex;
    justify-content: space-between;
}

.function>h4{

    margin: 0px 0px;

}
.period>h4{
    margin: 0px 10px;
    margin-right: 10px;
    
}

.function_desc>p{
    margin-top: 10px;
    margin-left: 0px;
}

.one .job_desc>ul{
    margin-top:10px;
}



/* img{
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}

th, td{
	border: 1px solid black;
	padding: 10 px;
}

th{
	background-color:RBGa(110,200,40);
	font-weight: normal
}

.tab{
    text-align: center;
}

h1{
    text-align: center;
}


.div2{

    display:flex;
    justify-content: center;
} */

