body {
    background-color: rgba(113, 172, 72);
    font-family: Calibri, sans-serif;
}

.main{
    display:flex;
    
}

li {
    list-style-type: none;
}



.left{
    background-color: rgba(113, 172, 72);
    width: 30%;
    color: white;
}

.right{
    width: 70%;
    background-color: rgba(255, 255, 255);
    color: black;
}

.info_header{
    border-bottom: 2px solid white;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.fa-solid, .fa-brands{
    font-size: 300%;
}
/* img{
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}

th, td{
	border: 1px solid black;
	padding: 10 px;
}

th{
	background-color:RBGa(110,200,40);
	font-weight: normal
}

.tab{
    text-align: center;
}

h1{
    text-align: center;
}

.div2{

    display:flex;
    justify-content: center;
} */