/* *{
    background-color: black;
    margin: auto;
}

div{
    padding-top: 7%;
    width: 62.5%;
    margin-left: 18%
}

div> img{
    border: 2px solid white;
    width: 100%;
    
}

h1,p{
    color: white;
    font-size: 23px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

h1{
    padding: 15px 0;
    text-transform: uppercase;
}

p{
    font-size: 8px;
} */

body{
    background-color: black;;
}

.poster{
    width:50%;
    color: white;
    margin-left:25%;
    margin-top: 5%;
    text-align: center; 
    font-family: "Libre Baskerville", serif;
}
.poster>img{
    width:100%;
    border: 5px solid white;
}



h1{
    text-transform: uppercase;
    font-size: 18px;
}

p{
    font-size: 10px;
}